@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "ST-Nizhegorodsky";
  src: url("../fonts/ST-Nizhegorodsky.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background-color: #091111;
}

a,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1264px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 82px;
          flex: 0 1 82px;
  margin: 0;
}
.header__logo-link-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.header__phone {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__phone-link {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #f7a85b;
}
@media (max-width: 576px) {
  .header__phone-link {
    font-size: 18px;
  }
}

.main {
  position: relative;
  overflow: hidden;
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background: url(../assets/main-bg.png) top 1080px center no-repeat;
  backdrop-filter: blur(10px);
}
@media (max-width: 576px) {
  .main::before {
    background-position: top 782px center;
  }
}

.first-screen {
  position: relative;
  min-height: 1080px;
  background: -webkit-gradient(linear, left top, right top, from(#000), to(#0a1010));
  background: linear-gradient(90deg, #000 0%, #0a1010 100%);
}
@media (max-width: 576px) {
  .first-screen {
    min-height: 782px;
  }
}
.first-screen::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  display: block;
  background: url(../assets/first-screen-bg.jpg) center no-repeat;
  background-size: auto 1080px;
}
@media (max-width: 1024px) {
  .first-screen::before {
    background: url(../assets/first-screen-bg.jpg) left -360px center no-repeat;
  }
}
@media (max-width: 768px) {
  .first-screen::before {
    background: url(../assets/first-screen-bg.jpg) left -420px center no-repeat;
  }
}
@media (max-width: 576px) {
  .first-screen::before {
    background: url(../assets/first-screen-bg.jpg) left -170px bottom no-repeat;
    background-size: auto 520px;
  }
}
.first-screen::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: block;
  height: 180px;
  background: -webkit-gradient(linear, left bottom, left top, from(#0a1010), to(rgba(10, 16, 16, 0)));
  background: linear-gradient(0deg, #0a1010 0%, rgba(10, 16, 16, 0) 100%);
}
.first-screen .container {
  min-height: inherit;
}
.first-screen__wrapper {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: inherit;
  padding: 32px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 576px) {
  .first-screen__wrapper {
    padding: 156px 0 32px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.first-screen__content {
  max-width: 680px;
}
.first-screen__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 0 40px;
  font-family: "ST-Nizhegorodsky", sans-serif;
  font-weight: 400;
  font-size: 93px;
  letter-spacing: 0.05em;
  color: #f7a85b;
  text-align: right;
}
@media (max-width: 576px) {
  .first-screen__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px;
    font-size: 34px;
    text-align: center;
  }
}
.first-screen__title span {
  background: linear-gradient(148deg, #eae5dd 0%, #d3baaa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.first-screen__title b {
  font-weight: 400;
  font-size: 125px;
}
@media (max-width: 576px) {
  .first-screen__title b {
    font-size: 48px;
  }
}
.first-screen__quote {
  margin: 0 0 32px;
}
@media (max-width: 576px) {
  .first-screen__quote {
    display: none;
  }
}
.first-screen__quote-text {
  margin: 0 0 12px;
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  color: #eae5dd;
}
.first-screen__quote-author {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  text-align: right;
  color: #eae5dd;
}
.first-screen__signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 576px) {
  .first-screen__signup {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.first-screen__signup-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  min-height: 94px;
  padding: 28px 32px;
  border: 1px solid rgba(247, 168, 91, 0.25);
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
@media (max-width: 576px) {
  .first-screen__signup-button {
    gap: 8px;
    min-height: 70px;
    padding: 20px 32px;
  }
}
.first-screen__signup-button::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 14px;
  z-index: 1;
  display: block;
  border-radius: 100px;
  -webkit-box-shadow: 0 6px 0 0 rgba(169, 107, 46, 0.89), 0 15px 50px 0 rgba(244, 166, 89, 0.36);
          box-shadow: 0 6px 0 0 rgba(169, 107, 46, 0.89), 0 15px 50px 0 rgba(244, 166, 89, 0.36);
  background: radial-gradient(221.25% 55.31% at 50% 50%, #f7a85b 20.19%, #925c27 100%);
  -webkit-transition: -webkit-filter ease-out 0.2s;
  transition: -webkit-filter ease-out 0.2s;
  transition: filter ease-out 0.2s;
  transition: filter ease-out 0.2s, -webkit-filter ease-out 0.2s;
  will-change: filter;
}
@media (max-width: 576px) {
  .first-screen__signup-button::before {
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 10px;
    -webkit-box-shadow: 0 4px 0 0 rgba(169, 107, 46, 0.89), 0 15px 50px 0 rgba(244, 166, 89, 0.36);
            box-shadow: 0 4px 0 0 rgba(169, 107, 46, 0.89), 0 15px 50px 0 rgba(244, 166, 89, 0.36);
  }
}
.first-screen__signup-button:hover::before {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}
.first-screen__signup-button:active::before {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}
.first-screen__signup-button-icon, .first-screen__signup-button-text {
  position: relative;
  z-index: 10;
  pointer-events: none;
}
.first-screen__signup-button-icon {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
  width: 32px;
  height: auto;
}
@media (max-width: 576px) {
  .first-screen__signup-button-icon {
    width: 16px;
  }
}
.first-screen__signup-button-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #452117;
}
@media (max-width: 576px) {
  .first-screen__signup-button-text {
    font-size: 14px;
  }
}

.break-beyond {
  position: relative;
  padding: 158px 0 240px;
}
@media (max-width: 1024px) {
  .break-beyond {
    padding: 100px 0 170px;
  }
}
@media (max-width: 576px) {
  .break-beyond {
    padding: 70px 0 170px;
  }
}
.break-beyond__list {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 19px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.break-beyond__list-item {
  font-family: "ST-Nizhegorodsky", sans-serif;
  font-weight: 400;
  font-size: 93px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  background: linear-gradient(148deg, #eae5dd 0%, #d3baaa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1024px) {
  .break-beyond__list-item {
    font-size: 60px;
  }
}
@media (max-width: 576px) {
  .break-beyond__list-item {
    font-size: 34px;
  }
}
.break-beyond__icons-item {
  position: absolute;
  z-index: 2;
  display: block;
  max-width: 100%;
  height: auto;
}
.break-beyond__icons-item:nth-child(1) {
  top: 0;
  left: calc(50% - 472px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
@media (max-width: 1024px) {
  .break-beyond__icons-item:nth-child(1) {
    top: -60px;
    left: calc(50% - 240px);
    width: 320px;
  }
}
@media (max-width: 576px) {
  .break-beyond__icons-item:nth-child(1) {
    top: 24px;
    left: -64px;
    width: 167px;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}
.break-beyond__icons-item:nth-child(2) {
  top: 320px;
  left: calc(50% - 717px);
  -webkit-transform: translateX(-100%) rotate(3deg);
          transform: translateX(-100%) rotate(3deg);
}
@media (max-width: 1024px) {
  .break-beyond__icons-item:nth-child(2) {
    top: 240px;
    left: calc(50% - 320px);
    width: 200px;
  }
}
@media (max-width: 576px) {
  .break-beyond__icons-item:nth-child(2) {
    top: 245px;
    left: -40px;
    width: 140px;
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
}
.break-beyond__icons-item:nth-child(3) {
  top: 518px;
  left: calc(50% - 467px);
  -webkit-transform: translateX(-100%) rotate(83deg);
          transform: translateX(-100%) rotate(83deg);
}
@media (max-width: 1024px) {
  .break-beyond__icons-item:nth-child(3) {
    top: 450px;
    left: calc(50% - 240px);
    width: 280px;
  }
}
@media (max-width: 576px) {
  .break-beyond__icons-item:nth-child(3) {
    top: 420px;
    left: -10px;
    width: 160px;
    -webkit-transform: rotate(83deg);
            transform: rotate(83deg);
  }
}
.break-beyond__icons-item:nth-child(4) {
  top: 140px;
  left: calc(50% + 499px);
}
@media (max-width: 1024px) {
  .break-beyond__icons-item:nth-child(4) {
    top: 40px;
    left: calc(50% + 340px);
    width: 160px;
  }
}
@media (max-width: 576px) {
  .break-beyond__icons-item:nth-child(4) {
    top: 85px;
    left: auto;
    right: -24px;
    width: 109px;
  }
}
.break-beyond__icons-item:nth-child(5) {
  top: 344px;
  left: calc(50% + 674px);
}
@media (max-width: 1024px) {
  .break-beyond__icons-item:nth-child(5) {
    top: 260px;
    left: calc(50% + 240px);
    width: 220px;
  }
}
@media (max-width: 576px) {
  .break-beyond__icons-item:nth-child(5) {
    top: 240px;
    left: auto;
    right: -24px;
    width: 140px;
  }
}
.break-beyond__icons-item:nth-child(6) {
  top: 474px;
  left: calc(50% + 461px);
  -webkit-transform: rotate(21deg);
          transform: rotate(21deg);
}
@media (max-width: 1024px) {
  .break-beyond__icons-item:nth-child(6) {
    top: 440px;
    left: calc(50% + 280px);
    width: 320px;
  }
}
@media (max-width: 576px) {
  .break-beyond__icons-item:nth-child(6) {
    top: 414px;
    left: auto;
    right: -10px;
    width: 185px;
  }
}

.accessible__wrapper {
  display: block;
}
.accessible__title {
  margin: 0 0 50px;
  font-family: "ST-Nizhegorodsky", sans-serif;
  font-weight: 400;
  font-size: 93px;
  letter-spacing: 0.05em;
  text-align: center;
  background: linear-gradient(148deg, #eae5dd 0%, #d3baaa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1024px) {
  .accessible__title {
    margin-bottom: 32px;
    font-size: 60px;
  }
}
@media (max-width: 576px) {
  .accessible__title {
    font-size: 34px;
  }
}
.accessible__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.accessible__gallery-figure {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 10px);
          flex: 0 0 calc(50% - 10px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
@media (max-width: 576px) {
  .accessible__gallery-figure {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.accessible__gallery-figure-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: -2px;
  border-radius: 34px;
}