.main {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background: url(../assets/main-bg.png) top 1080px center no-repeat;
    backdrop-filter: blur(10px);

    @include mobile {
      background-position: top 782px center;
    }
  }
}
