.performance {
  padding: 200px 0 48px;

  @include mobile {
    padding: 72px 0;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    margin: 0 0 12px;

    &-title {
      margin: 0;
      font-family: 'ST-Nizhegorodsky', sans-serif;
      font-weight: 400;
      font-size: 93px;
      letter-spacing: 0.05em;
      text-align: center;
      background: linear-gradient(148deg, #eae5dd 0%, #d3baaa 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include laptop {
        font-size: 60px;
      }

      @include mobile {
        font-size: 34px;
      }
    }

    &-time {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 32px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: right;

      @include laptop {
        font-size: 24px;
      }

      @include mobile {
        font-size: 18px;
      }

      &-title {
        color: #806f60;
      }

      &-text {
        color: #ffffff;
      }
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 18px;

    @include mobile {
      gap: 28px;
    }
  }

  &__card {
    flex: 0 0 calc(100% / 3 - 18px / 3 * 2);
    max-width: calc(100% / 3 - 18px / 3 * 2);

    @include laptop {
      flex: 0 0 calc(100% / 2 - 18px / 2);
      max-width: calc(100% / 2 - 18px / 2);
    }

    @include mobile {
      flex: 1 1 100%;
      max-width: none;
    }

    &-figure {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 12px;

      @include mobile {
        position: relative;
        min-height: 255px;
      }

      &-image {
        display: block;
        max-width: 100%;
        height: auto;

        @include mobile {
          position: absolute;
          top: 0;
          bottom: 0;
          max-width: none;
          max-height: 100%;
        }
      }
    }

    &-title {
      margin: 0 0 32px;
      font-family: 'ST-Nizhegorodsky', sans-serif;
      font-weight: 400;
      font-size: 32px;
      letter-spacing: 0.05em;
      text-align: center;
      background: linear-gradient(148deg, #eae5dd 0%, #d3baaa 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include laptop {
        font-size: 28px;
      }

      @include mobile {
        font-size: 24px;
      }
    }

    &-text {
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 18px;
      text-align: center;
      color: #eae5dd;

      @include laptop {
        font-size: 16px;
      }
    }
  }
}
